.env
__pycache__/
*.pyc
node_modules/
.next/
*.egg-info/
.DS_Store
venv/
.venv/

frontend/out/
frontend/.next/
frontend/tsconfig.tsbuildinfo
frontend/out/
frontend/.next/
frontend/tsconfig.tsbuildinfo
frontend/next-env.d.ts
